body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#meme-form {
  margin-bottom: 30px;
}

#meme-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meme {
  position: relative;
  width: 450px;
  margin-bottom: 15px;
}

.meme {
  width: 100%;
}

.top-text {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: white;
  text-shadow: 3px 3px 5px #000000;
  transform: translate(-50%, -50%);
}

.bottom-text {
  position: absolute;
  bottom: -10%;
  left: 50%;
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: white;
  text-shadow: 3px 3px 5px #000000;
  transform: translate(-50%, -50%);
}

.top {
  top: 20px;
}

.bottom {
  bottom: 10px;
}

.remove-button {
  margin-top: 15px;
}
